@font-face {
    font-family: 'Presentation';
    src: url('/fonts/Freesentation-1Thin.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'Presentation';
    src: url('/fonts/Freesentation-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Presentation';
    src: url('/fonts/Freesentation-3Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Presentation';
    src: url('/fonts/Freesentation-4Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Presentation';
    src: url('/fonts/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Presentation';
    src: url('/fonts/Freesentation-6SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Presentation';
    src: url('/fonts/Freesentation-7Bold.woff2') format('woff2');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Presentation', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

h1 {
    font-size: 50px;
    color: #333;
    text-align: center;
    padding: 250px 0 70px;
}

h1 span {
    color: #506FEB;
}

.sec1_text2 {
    text-align: center;
    color: #9CA3AF;
    font-size: 18px;
}

.sec1_btn1 {
    display: block;
    width: 158px;
    padding: 8px 30px;
    margin: 55px auto 100px;
    background-color: #F4F4F4;
    color: #515151;
    font-size: 18px;
    border-radius: 10px;
}

.sec1_nav_wrap.on {
    width: 100%;
    height: 35px;
}

.sec1_nav {
    position: relative;
    width: 220px;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #515151;
    padding: 8px 30px;
    border-radius: 10px;
    background-color: #EDEDED;
    margin: 0 auto;
}

.sec1_nav a:hover {
    color: #506FEB;
}

.sec1_nav a.on {
    color: #506FEB;
}

.sec1_nav_wrap.on .sec1_nav {
    position: fixed;
    z-index: 9999;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
    background-color: #EDEDED30;
    border: 1px solid #EDEDED;
}

.sec_tit {
    color: #506FEB;
    text-align: center;
    font-weight: 500;
    padding: 150px 0 65px;
}

.sec2_wrap {
    display: flex;
    width: 100%;
    max-width: 340px;
    gap: 25px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.sec2_wrap li {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #00000010;
}

.sec3_con_wrap {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sec3_con {
    display: flex;
    gap: 55px;
}

.sec3_con > p {
    font-size: 16px;
    color: #515151;
    width: 98px;
}

.sec3_con > div > p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.sec3_con > div > p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    color: #515151;
    margin-top: 10px;
}

.sec4_nav {
    display: flex;
    align-items: center;
    width: 241px;
    height: 37px;
    background-color: #f4f4f4;
    border-radius: 30px;
    font-size: 14px;
    position: relative;
    justify-content: center;
    padding: 0 5px;
    margin: 0 auto 45px;
}

.sec4_nav .deco {
    position: absolute;
    width: 119px;
    height: 29px;
    border-radius: 29px;
    background-color: #506FEB;
    top: 4px;
    left: 4px;
    transition: 0.3s;
}

.sec4_nav a {
    display: block;
    position: relative;
    width: 119px;
    text-align: center;
    color: #506FEB;
    transition: 0.3s;
}

.sec4_nav a.on {
    color: #fff;
}

.sec4_con1_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.sec4_con1 {
    display: block;
    border-radius: 12px;
    box-shadow: 3px 3px 12px #00000010;
}

.sec4_con1.hi {
    display: none;
}

.sec4_con1 .img {
    height: 174px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

.sec4_con1 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec4_con1 .text {
    padding: 12px;
    border-radius: 0 0 12px 12px;
}

.sec4_con1 .text .tit {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sec4_con1 .text .description {
    font-size: 16px;
    color: #515151;
}

.sec5_con1 {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
}

.sec4_con2_wrap {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.sec4_con2 {
    display: block;
    border-radius: 12px;
    box-shadow: 3px 3px 12px #00000010;
}

.sec4_con2 .img {
    height: 174px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

.sec4_con2 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec4_con2 .text {
    padding: 12px;
    border-radius: 0 0 12px 12px;
}

.sec4_con2 .text .tit {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sec4_con2 .text .description {
    font-size: 16px;
    color: #515151;
}

.sec4_btn {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #506FEB;
    color: #506FEB;
    justify-content: center;
    background-color: #f4f4f4;
    margin: 45px auto 0;
    transition: 0.3s;
}

.sec4_btn:hover {
    background-color: #506FEB;
    color: #fff;
}

.sec4_btn:hover img {
    filter: brightness(0) invert(1);
}

.sec4_btn img {
    width: 12px;
    transition: 0.3s;
}

.sec4_btn.on img {
    transform: rotate(180deg);
}

.sec5_con2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    margin: 35px 0 25px
}

.sec5_con3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    padding-bottom: 400px;
}

@media screen and (max-width: 1440px) {
    body {
        padding: 0 4%;
    }
}


@media screen and (max-width: 1024px) {
    .sec4_con1.ta {
        display: none;
    }

    .sec4_con1_wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        width: 640px;
        max-width: 100%;
        margin: 0 auto;
    }

    .sec4_con2_wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        width: 640px;
        max-width: 100%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 600px) {
    .sec4_con1.ta {
        display: none;
    }

    .sec4_con1_wrap {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        width: 300px;
        max-width: 100%;
        margin: 0 auto;
    }

    .sec4_con2_wrap {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        width: 300px;
        max-width: 100%;
        margin: 0 auto;
    }
}
    